/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.selectedContact {
  background: #e9ecef;
}
.selectedContact:focus {
  background: #e9ecef;
}

.spaceBtw {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; */
}

.content {
  /* flex: 1; */
  display: flex;
  align-items: flex-start;
  /* overflow: hidden; */
  /* height: 100%; */
  min-height: calc(100vh - 220px);
  /* height: calc(100vh - 220px); */
  /* overflow-y: scroll; */
}

.chatGrid {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  /* min-height: min-content; */
  width: 100%;
  /* overflow: auto; */

  /* min-height: calc(100vh - 220px); */
  /* height: calc(100vh - 220px); */
  /* overflow-y: scroll; */
}

.chatMsg {
  padding: 8px;
  background-color: gainsboro;
  width: max-content;
  border-radius: 8px;
  margin: 0.5rem;
}

.sentMsg {
  margin-left: auto;
  background-color: lightblue;
}

.bottom {
  /* position: absolute;
  bottom: 0; */
  /* width: 100%; */
  /* left: 0; */
  /* position: fixed; */
  /* bottom: 0; */
}

.msgInput {
  width: 100%;
  border-radius: 10px;
}
